# Prerequisites
*.d

#folders
.vs/
Debug/
Release/
!bin/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
!Warshipbattle.exe

#log
/ProjectWarshipbattle/Log.txt

# No need
~$・ｽ・ｽi・ｽﾐ会ｿｽ.docx
~$菴懷刀邏ｹ莉・docx
ProjectWarshipbattle/Data/TopScore/TopScore.txt
ProjectWarshipbattle/Data/TopScore/TopScore.txt
